body {
    background-image: linear-gradient(to bottom, #000000, #E82127);
    display: flex;
    align-items: center;
}

.item {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}